<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- SOCKET IO -->
    <script src="/socket.io/socket.io.js"></script>
	<!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- CLIENT SERVER -->
    <script src="/javascripts/clientside.js"></script>
  </head>
  <body>
 <div class="container">

	<div class="row">
		<div class="col-lg-4">
			<!-- Chat -->
			<div id="chat">
				<ul></ul>
			</div>
			<div id="chat-text-box">
				<form action="" id="form-enviar-mensagem">
					<div class="form-group">
						<input type="text" id="mensagem" placeholder="O que você está pensando?">
					</div>
					<button type="submit" class="btn btn-success">Enviar</button>
				</form>
			</div>
		</div>
		<div class="col-lg-8">
			<!-- Updates -->
			<form role="form" id="form-alterar-nome">
			  <div class="form-group">
			    <label for="nome">Alterar Nome:</label>
			    <input type="text" placeholder="Inform seu nome" id="nome">
			  </div>
			  
			  <button type="submit" class="btn btn-default">Alterar</button>
			</form>
		</div>
	</div>
</div>
  </body>
</html>